#main{
    width: 90%;
    margin: 0 auto;
}

.goldtext {
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent) url('../Images/goldpaper.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}